<header class="site-header docs-header">
  <div class="container docs-header-row">
    <a class="brand" href="{{ url('/') }}">
      <span class="brand-mark">ATOLL</span>
      <span class="brand-sub">docs</span>
    </a>
    <nav>
      <ul class="nav">
        {% for item in navigation %}
          <li><a href="{{ url(item.url|default('/')) }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <a class="admin-link" href="{{ url('/admin') }}">Admin</a>
  </div>
</header>
