<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="footer-bottom">
      <p>&copy; {{ "now"|date("Y") }} {{ site.name|default('atoll-cms') }}</p>
      <p><a href="{{ url('/sitemap.xml') }}">Sitemap</a> &middot; <a href="{{ url('/robots.txt') }}">Robots</a> &middot; Powered by <a href="https://github.com/atoll-cms">Atoll CMS</a></p>
    </div>
  </div>
</footer>
